

.btitle {
    
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 2.5em;
}

.hero-div {
    height: 45em;
    background-size: cover; background-image: url('../resources/server-room.jpg');
}


.circle-div {
    border-radius: 50%;
    padding: 2em;
    background-color: #609efd;
    margin: auto;
    width: 45%;
    font-family: 'Comfortaa', cursive;
    border: solid white 1px;
}



.divider{
    padding: 0px;
    margin: 10px;    
}


@media only screen and (max-width: 700px) {
    .circle-div {
        width: 90%;
    }

}